#faq-result{width:100%;}
		
		#loader-icon {position: fixed;top: 50%;width:100%;height:100%;text-align:center;display:none;}

		body{
			background-color: #f6f5f6;
			font-family: 'Helvetica Neue',sans-serif;
			font-size: 18px;
			overflow: auto;
			margin: 2px;
			z-index: 100;
		}

		hr{
		  	background-color: #efefef;
			border: 0;
			margin: 0;
			height: 2px;
			clear: both;
		  }

		  
		ul{
		  	list-style: none;
		  }

		#wrapper{
			width: 100%;
			background:  #f6f5f6;
			margin: -2px;
			}

	     /*Top bar begins*/
	    .menu-container{
			width: 100%;
			height: 50px;
			position: fixed;
			background-color: white;
			box-shadow: 0px 1px #BDC3C7;
		}

		.navigation-menu{
			width: 44.5%;
			height: 100%;
			display: inline-block;
		}

		.memeveme-logo-container{
			height: 100%;
			width: 10%;
			display: inline-block;
		}

		.memeveme-logo-container img{
		width: 50px;
		}


		.right-menu{
			display: inline-block;
			width: 44.5%;
			height: 100%;
			float: right;
		}



		/*Search Bar*/
		@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

		.search-bar-container{
			margin-top: 10px;
		  	width: 40%;
		    direction: rtl;
		    display: inline-block;

		}
		
		input#search_bar{
		    border: none; outline: none;
		   	font: 300 16px 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
		   	color: #666;
		    width: 30px;
		    border-radius: 55px;
		    margin: 0 auto;
		    font-size: 16px; color: #0d2840;
		    padding: 6px 24px 6px 6px;
		    transition: all .3s linear;
		    background: rgb(255, 255, 255) url(http://i.imgur.com/seveWIw.png) no-repeat center center;
		    direction: ltr;
		}
		
		input#search_bar:focus{
			width: 100%; 
			background-position: calc(100% - 15px) center;
			background-color:#f6f5f6;
		}

		  /*Removes default x in search fields*/
		input[type=search]::-webkit-search-cancel-button{
			-webkit-appearance: none;
		}
		  /*Changes the color of the placeholder*/
		::-webkit-input-placeholder{
			color: #0d2840; 
			opacity: .5;
		}
		::-moz-placeholder{
			color: #0d2840; 
			opacity: .5;
		}
		:-ms-input-placeholder{
			color: #0d2840; 
			opacity: .5;
		}




		/*right menu*/
		.right-menu-buttons{
			width: 55%;
			height: 100%;
			float: right;
		}

		.right-menu-buttons button{
			width: 33%;
			height: 30px;
			margin-top: 10px;
			border-radius: 55px;
			margin-right: 5%;
		   	font: 300 16px 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
		   	cursor: pointer;
		}

		.right-menu-buttons button:focus{
			outline: none;
		}

		.connect-right-menu-button{
			color: #2abb9b;
			border: 2px solid #2abb9b;
			background: transparent;
		}

		.connect-right-menu-button:hover{
			color:white;
			background-color: #2abb9b;
		}

		.upload-right-menu-button{
			color: #3a7aa7;
			border: 2px solid #3a7aa7;
			background: transparent;
			width: 30% !important;
		}

		.upload-right-menu-button:hover{
			background-color: #3a7aa7;
			color:white;
		}


		/*---------Drop down menu------------*/
   	 	@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500);

		
		.nav-bar {
		  	list-style: none;
		  	font-size: 20px;
			font-family: 'Ubuntu', sans-serif !important;
		  	font-weight: 300;
		  	margin: 0;
		  	height: 100%;
		}

		.nav-bar li {
			float: left; 
			position: relative; 
			height: 20px;
			padding-left: 6%;
			padding-right: 6%;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.nav-bar li a {
		  	display: block;
		  	text-decoration: none; 		  
		  	color: #354147;
		}

		.nav-bar:hover li a {
		  	opacity: .5;
		}

		.nav-bar li:hover a {
			opacity: 1;
		}

		.nav-bar-submenu {
		  	position: absolute;
		  	display: none;
		  	left: 0px;
		  	padding-left: 0px;
		  	margin-top: 12px;
		  	width: 170px;
		  	background-color: white;	
		}

		/*border-top: 15px solid transparent;*/

		.nav-bar li:hover > .nav-bar-submenu {
			display: block;
		}

		.has-submenu:after {
		   	position: relative;
		   	content: "";
		   	top: 15px;
		   	margin: 0 -5px 4px 5px;
		   	/* borders to make down arrow */
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #89C4F4;
		   	opacity: .7;
		}

		
		.nav-bar > li:hover .has-submenu:after {
		  	opacity: 1;
		} 

		

		.nav-bar-submenu li {
		  	width: 150px;
		}

		
		.nav-bar > li:hover  {
		  	background: #f6f5f6;
		} 

		
		.nav-bar-submenu a {
		  	font-size: 85%; 
		 	margin: 0px; 
		}

		
		.nav-bar-submenu li:hover {
		  	background: #89C4F4;
		}


		/*connect popup*/

		#light{
	        display: none;
	        position: absolute;
	        top: 15%;
	        left: 37.5%;
	        width: 23%;
	        height: 400px;
	        background-color: #fff;
	        background-size: 100% 100%;
	        z-index:1002;
	        border-radius: 10px;
	        overflow:visible;
	        margin-top: 0px;
  	  }

	    #fade{
	        display: none;
	        position: fixed;
	        top: 0%;
	        left: 0%;
	        width: 100%;
	        height: 100%;
	        background-color: #404040;
	        z-index:1001;
	        -moz-opacity: 0.7;
	        opacity:.70;
	        filter: alpha(opacity=70);

	        -webkit-filter: blur(100%);
	        -moz-filter: blur(100%);
	        -o-filter: blur(100%);
	        -ms-filter: blur(100%);
	        filter: blur(100%);
	    }


	    .ribbon{
	      width: 100%;
	      height: 10px;
	      background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	      background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	      background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	      background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);

	      border-top-right-radius: 10px;
	      border-top-left-radius: 10px;
	    }

	    .top-connect{
	      height: 20%;
	      width: 100%;
	     
	      background: #f7f7f7;
	      font-family: 'Raleway', sans-serif;
	      font-size: 30px; 
	      color: #aaa;
	    }


	    .top-connect p {
	      text-align: center;
	      padding-top: 20px;
	      margin: 18px;
	    }

	    .buttonfb{

	    	text-decoration: none;

	    }

	    .buttontt{

	    	text-decoration: none;

	    }

	    .bottom-connect{
	      height: 78%;
	      width: 100%;
	    }


	    .connect-button{
	      border-radius: 5px;
	      border: 0;
	      height: 45px;
	      width: 90%;
	      cursor: pointer;
	      margin-bottom: 35px;    
	    }

	    .connect-button:focus{
	      outline: 0;
	    }

	    #fb{
	      background-color: #3b5998;
	      box-shadow: 0 5px 0 #4B77BE;
	      transition: all .1s linear;
	      margin-top: 35px;
	    }

	    #fb:active{
	        box-shadow: 0 2px 0 #4B77BE;
	          transform: translateY(3px);
	      }

	    #twitter{
	      background-color: #9AE4E8;
	      box-shadow: 0 5px 0 #b5ecf7;
	      transition: all .1s linear;
	    }

	    #twitter:active{
	      box-shadow: 0 2px 0 #b5ecf7;
	        transform: translateY(3px);
	    }


	    #gplus{
	      background-color: #d34836;
	      box-shadow: 0 5px 0 #ef7775;
	      transition: all .1s linear;
	    }

	    #gplus:active{
	      box-shadow: 0 2px 0 #ef7775;
	        transform: translateY(3px);
	    }

	    .connect-button-img{
	      height: 90%;
	    }

    	/*connect popup*/

		/*   Left col begins  */

	    .left-col{	
			width: 14%;
		  	float: left;
			position:fixed;
			z-index: 0;
			margin-top: 117px;
		
			text-align: center;
			background-color: white;
			margin-left: 5%;
		}

	    .left-col #trending{
	    	width: 100.5%;
			height: 15%;
			background-color: rgb(246, 245, 246);
	  		margin-top: -34px;
		}


		.left-col #trending h4{
		  font-size: 16px;
		  color: rgb(123, 129, 127);
		  text-align: left;
		  margin-left: 20px;
		}

		.left-col img{
			float: left;
	  		width: 11%;
		}	

		.left-col ul{
			  width: 100%;
			  list-style: none;
			  font-size: 16px;
			  text-align: left;
			  margin-left: -40px;
		}

		.left-col ul li {
			padding: 5% 5%;
	 	    margin-left: 16px;
		}
		

		.left-col ul li a{
			text-decoration: none;
			color: rgb(118, 128, 125);
		}
			
			

		.left-col ul li a:hover{

		}	
		/*   Left col ends  */
	    
	   .right-col{

			width: 35%;
			  float: left;
			  margin-left: 28%;
			  margin-top: 67px;
			  text-align: center;
		}

		.right-col #container{
			width: 100%;
			float: right;
			
			}

		#segment{

			padding: 10px;
			width: 100%;
			
			margin-top: 32px;
			background-color: white;
			border-radius: 8px;
			border: 1px solid rgb(218, 214, 214);
		}



		/* Uploader Starts*/


  		#uploader{

  			height: 7%;
  		}

  		#uploader img{
  			float: left;
			width: 32px;
			border-radius: 50%;
  		}

  		#uploader p{
  			float: left;
			padding: 7px;
			font-size: 15px;
			margin-top: 0;	
			margin-left: 15px;
  		}
  		/* Uploader Ends*/

  		h1 {
	
		font-weight: 400;
		font-size: 26px;
		margin-top: 6px;
		word-wrap: break-word;
	  }

	  h1 a {
	  	text-decoration: none;
	  	color: black;
	  }

  		#meme {

		margin-left: -10px;
		max-width: 104%;
	 		}

	   .upvote-downvote{
	   		height: 42px;
	   }

		 #upvotes{
			float: left;
			margin-left: 20px;
			margin-top: 12px;
			font-family: 'Lora', serif;
			font-weight: 400;
			padding: 0px;
			padding-right: 6px;
			font-size: 13px;
			color: rgb(178, 178, 178);
		} 

		 .up{
			height: 20px;
			float: left;
			display: inline-block;
			padding: 10px;
			margin-left: -7px;
		}

	 	.down{
		 	height: 20px;
			float: left;
			display: inline-block;
			padding: 10px;
			margin-left: -7px;
	 	}

	 

	   .facebook-share{
		   	height:18px;
		   	padding: 10px;	
	   }

	   .twitter-share{
		   	width:21px;
		   	padding: 10px;
	   
	   }

	   .google-share{
		   	width:16px;
		   	padding: 10px;
	   	
	   }

	   .report{
		   	float: right;
			height: 39px;
			margin-left: 10px;
	   }

	   .report:hover #report{
	   		display: inline-block;
	   }

   		.tags{
			margin-left: 10%;
		}

		.tags table{
			width: 60%;
			text-align: center;
			padding: 1.5%;
		}


		@font-face{

			font-family: 'Blenda Script';
			src:url(fonts/blenda-script/Blenda Script.otf);
		}

		.tags table a{
			text-decoration: none;
			color: rgb(15, 182, 176);
			font-size: 20px;
		   padding-right: 28px;
		}


		#report{
	  		  position: absolute;
			  top: 25%;
			  left: 37.5%;
			  width: 327px;
			  height: 345px;
			  background-color: #fff;
			  background-size: 100% 100%;
			  z-index: 1002;
			  border-radius: 10px;
			  overflow: visible;
			  display: none;
		}

		#report ul{
			  width: 100%;
			  list-style: none;
			  font-size: 16px;
			  text-align: left;
			  margin-left: -40px;
		}

		#report ul li {
			padding: 5% 5%;
	 	    margin-left: 16px;

		}
	
		#report ul li a{

			text-decoration: none;
			color: rgb(118, 128, 125);
		}

		#report ul li a:hover{

		}

		#report-fade{
	        display: none;
	        position: fixed;
	        top: 0%;
	        left: 0%;
	        width: 100%;
	        height: 100%;
	        background-color: #404040;
	        z-index:1001;
	        -moz-opacity: 0.7;
	        opacity:.70;
	        filter: alpha(opacity=70);

	        -webkit-filter: blur(100%);
	        -moz-filter: blur(100%);
	        -o-filter: blur(100%);
	        -ms-filter: blur(100%);
	        filter: blur(100%);
	    }


			  .sidebar{	
			  width: 25%;
			  float: right;
			  z-index: 0;
			  margin-top: 117px;
			  text-align: center;
			  background-color: white;
			  margin-right: 3%;
			}

			
		  .sidebar .about{
			  	width: 100%;
																	  		
				    }

				.sidebar h2{

					color: rgb(15, 182, 176);
					font-size: 20px;
					font-family: 'Alegreya', serif;
				}

				.sidebar p{

					color: rgb(118, 128, 129);
					font-size: 16px;
					font-family: 'Raleway', sans-serif;
					text-align: left;
					padding: 2px 10px;
				}

				.sidebar ul{
					  width: 100%;
					  list-style: none;
					  font-size: 16px;
					  text-align: left;
					  margin-left: -10px;
				}

			.sidebar ul li {
				padding: 2%;
				float: left;
				margin-right:5px; 
																	 
			}
																		

			.sidebar ul li a{
				text-decoration: none;
				color: rgb(118, 128, 125);
			}
																			
																		
			.sidebar ul li img{
				width: 30px;
				float: left;
			}	

			.sidebar ul li a:hover{

			}

			 

	@media screen and (max-width: 600px){

 		.menu-container{

 			width: 100%;
 		}

 		.right-col{

 			  width: 93%;
			 margin-left: 2px;
			  float: left;
			  display: block;
 		}

 		#segment{

 			width: 100%;
 		}

 		.left-col{

 			display: none;
 			margin-right: 0;
 		}

 		.sidebar{
 			display: none;
 		}

 		.navigation-menu{
 			float:left;
 		}
 		.nav-bar li{
 			
 			width: 73%;
 			display: none;
 			background-color: white;
 		}
 		.nav-bar-submenu{
 			width:100%;

 		}

 		.nav-button{

 			  display: block;
			  text-align: left;
			  color: black;
			  font-size: 20px;
			  margin-left: 10px;
			  margin-top: 10px;
			  height: 39px;
			  background: url('resources/menu.png');
			  background-repeat: no-repeat;
			  background-size: 17%;
 		}

 		.nav-button:before{

 			
 		}


 		.right-menu-buttons{
			width: 55%;
			height: 100%;
			float: right;
		}

		.right-menu-buttons button{
			width: 85%;
			height: 30px;
			margin-top: 10px;
			border-radius: 55px;
			margin-right: 5%;
		   	font: 300 13px 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
		   	cursor: pointer;
		}

		.right-menu-buttons button:focus{
			outline: none;
		}

		.search-bar-container{
			display: none;
		}

		.connect-right-menu-button{
			color: #2abb9b;
			border: 2px solid #2abb9b;
			background: transparent;
		}

		.connect-right-menu-button:hover{
			color:white;
			background-color: #2abb9b;
		}

		.upload-right-menu-button{
			display: none;
		}

		#light{

			display: none;
	        position: absolute;
	        left: 17.5%;
	        width: 53%;
	        height: 400px;
	        background-color: #fff;
	        background-size: 100% 100%;
	        z-index:1002;
	        border-radius: 10px;
	        overflow:visible;
	        margin-top: 0px;
			
		}

		.tags{

			margin-left: 4%;
		}

		.tags table a{

			font-size: 17px;
			padding-right: 10px;
		}


 	} 

 	@media screen and (min-width:600px ) and (max-width: 1000px ) {

 	.sidebar{

 		display: none;

 	}

 	.left-col{

 		width:20%;
 	}

 	.right-col{

 		width: 50%;
 	}

 	.nav-bar{

 		font-size: 15px;
 	}

 	.nav-bar li{
 		padding-left: 4%;
 	}
 	.navigation-menu{

 		width: 51.5%;
 	}
 	
 	.right-menu{

 		width: 36.5%;
 	}

 	.right-menu-buttons button{

 		font-size: 44%;
 		padding: 0px;
 	}
 }


 #copyright p{
 	text-align: center;
 }


#featured{
	background-color: #f6f5f6;
	width: 100%;
}

.featured-segment{
	width: 100%;
	height: 110px;
	margin-bottom: 20px;
	border:1px solid rgb(218, 214, 214);
	padding-bottom: 10px;
	border-radius: 8px;
	background-color: #f6f5f6;

}

.featured-segment:last-child{
	margin-bottom: 0px;
}

.featured-segment h3{
	font-size: 16px;
	margin:5px;
	font-family: inherit;
	font-weight: 400;
}

.featured-post{
	width: 100%;
}

.featured-post{
	width: 100%;
	height: 80px;
}